/*==========  home  ==========*/
.home {
  padding: 150px 0 46px;
  position: relative;
  z-index: 2; }
  .home .container {
    padding: 0; }

.home-slider {
  margin: 0 0 39px; }
  .home-slider .slick-track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
  .home-slider .slick-slide {
    height: auto; }
  .home-slider .home-slider-item {
    height: 100%; }
    .home-slider .home-slider-item img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
  .home-slider .slide-mob {
    display: none; }

.home-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #fff;
  padding: 0 0 0 22px; }

.category-tag {
  letter-spacing: 0.05em;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  opacity: .5;
  margin: 0 0 3px 50px; }

.link-title {
  position: relative;
  padding: 0 0 0 28px;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  max-width: 605px; }
  .link-title:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 19px;
    height: 32px;
    background: url("../img/icon1.svg") no-repeat center;
      background-size: 100%; }

.links-messenger {
  font-size: 15px;
  text-align: right;
  max-width: 215px;
  font-weight: 500; }
  .links-messenger a {
    text-decoration: underline;
    display: inline-block;
    color: #fff; }

/*==========  home end  ==========*/
/*==========  section advantages ==========*/
.advantages {
  padding: 50px 0 39px; }

.advantages-box {
  width: 100%;
  height: 129px;
  background: -webkit-gradient(linear, left top, left bottom, from(#E3E6EF), to(#E3E6EF));
  background: linear-gradient(180deg, #E3E6EF 0%, #E3E6EF 100%);
  padding: 16px 15px 18px;
  color: #333333;
  font-size: 13px;
  font-weight: bold;
  position: relative;
  z-index: 1; }
  .advantages-box:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background: #254DF1;
    z-index: -1;
    -webkit-transition: .3s ease;
    transition: .3s ease; }
  .advantages-box:hover {
    color: #fff; }
    .advantages-box:hover .advantages-box__icon {
      -webkit-filter: brightness(0) invert(1);
              filter: brightness(0) invert(1); }
    .advantages-box:hover:before {
      height: 100%; }
  .advantages-box__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 0 14px;
    width: 30px;
    height: 33px; }

.advantages-slider .slick-arrow {
  padding: 0;
  width: 18px;
  height: 18px;
  background: transparent; }
  .advantages-slider .slick-arrow:hover {
    background: transparent;
    stroke: #254DF1; }

.advantages-slider .slick-prev {
  right: auto;
  left: -28px; }

.advantages-slider .slick-next {
  right: -28px; }

.advantages-slider .slick-list {
  margin: 0 -7px; }

.advantages-slider .slick-slide {
  padding: 0 7px; }

/*==========  section advantages end  ==========*/
/*==========  section news  ==========*/
.news-card {
  width: 100%;
  margin-bottom: 30px; }
  .news-card__img {
    width: 100%;
    height: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .news-card__img img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
  .news-card__body {
    padding: 13px 0 0; }
  .news-card__name {
    font-weight: bold;
    font-size: 15px;
    color: #131316;
    margin: 10px 0 13px;
    max-width: 292px; }
    .news-card__name:hover {
      color: #254DF1; }
  .news-card .box-text {
    color: #333333;
    font-size: 13px; }
  .news-card .list-tags {
    margin: 20px 0 0; }
    .news-card .list-tags li a {
      opacity: 1;
      color: #254DF1; }
      .news-card .list-tags li a:hover {
        color: #2B2A52; }

.date {
  color: #808080;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-transform: uppercase; }

.btn-toggle {
  display: none; }

/*==========  section end  ==========*/
/*==========  section banner-section  ==========*/
.banner-section {
  margin: 50px 0 0; }
  .banner-section .slick-next {
    right: -50px; }
  .banner-section .slick-prev {
    right: 0; }
  .banner-section .home-slider {
    margin: 0; }

/*==========  section end  ==========*/
/*==========  section analytics ==========*/
.analytics {
  padding: 40px 0 48px; }
  .analytics .title-line {
    margin: 0 0 26px; }
  .analytics h2 {
    color: #fff; }

.analytics-box {
  color: #fff;
  margin: 0 0 16px; }
  .analytics-box .news-card__img {
    height: 144px; }
  .analytics-box .date {
    color: #fff;
    opacity: .5; }
  .analytics-box .news-card__name {
    color: #fff; }
    .analytics-box .news-card__name:hover {
      text-decoration: underline; }
  .analytics-box .list-tags li a {
    color: #E3E6EF;
    opacity: .4; }

.list-tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-transform: uppercase; }
  .list-tags li {
    margin: 0 5px 0 0; }
    .list-tags li:last-child {
      margin: 0; }
    .list-tags li a {
      color: #E3E6EF;
      opacity: 0.4; }
      .list-tags li a:hover {
        color: #2B2A52; }

/*==========  section analytics end  ==========*/
/*==========  section events ==========*/
.events {
  padding: 60px 0; }
  .events h2 {
    margin: 0 0 29px;
    width: 100%; }

.events-wrapper {
  width: calc(100% - 217px);
  padding: 0 39px 0 0; }

.calendar-sidebar {
  max-width: 217px;
  width: 100%; }

.events-card {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 0 15px; }
  .events-card__img {
    height: 132px;
    width: 230px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .events-card__body {
    width: calc(100% - 230px - 22px);
    margin: 0 0 0 auto;
    border-bottom: 1px solid #E3E6EF;
    padding: 0 0 22px; }
  .events-card__name {
    margin: 19px 0 14px;
    font-weight: bold;
    color: #27272D;
    font-size: 17px; }
    .events-card__name:hover {
      color: #254DF1; }
  .events-card__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .events-card .list-tags {
    margin: 0 0 0 22px; }
    .events-card .list-tags li a {
      opacity: 1;
      color: #0B38FA; }
  .events-card .box-text {
    color: #333333;
    font-size: 13px;
    line-height: 19px; }

.events-card-last .events-card__body {
  border: none; }

.tags {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.tags-links {
  padding: 7px 10px;
  margin: 0 3px 3px 0;
  background: #EAEAEC;
  color: #000000;
  font-size: 10px;
  text-transform: capitalize; }
  .tags-links:hover {
    background: #254DF1;
    color: #fff; }
  .tags-links:last-child {
    margin-right: 0; }
  .tags-links.active {
    background: #254DF1;
    color: #fff; }

.datepicker {
  max-width: 206px;
  width: 100%;
  margin: 0 0 30px auto; }
  .datepicker td {
    padding: 1px; }
  .datepicker .ui-widget.ui-widget-content {
    border: none;
      border-radius: 0;
    width: 100%;
    padding: 0;
    background: transparent; }
  .datepicker .ui-datepicker .ui-datepicker-header {
    padding: 0 10px;
    background: transparent;
    border: none;
      border-radius: 0;
    color: #000000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .datepicker .ui-datepicker-title {
    text-transform: uppercase;
    font-family: "hoves", sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 18px;
    margin: 0 auto; }
  .datepicker .ui-datepicker .ui-datepicker-prev, .datepicker .ui-datepicker .ui-datepicker-next {
    left: 0;
    right: 0;
    position: relative;
    top: 0;
    -webkit-transform: none;
            transform: none;
    padding: 0;
    width: 7px;
    height: 13px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
    border: none;
      border-radius: 0; }
    .datepicker .ui-datepicker .ui-datepicker-prev span, .datepicker .ui-datepicker .ui-datepicker-next span {
      display: none; }
  .datepicker .ui-datepicker .ui-datepicker-prev {
    background: url("../img/arrow-left.svg") no-repeat center;
      background-size: 100%; }
  .datepicker .ui-datepicker .ui-datepicker-next {
    background: url("../img/arrow-right.svg") no-repeat center;
      background-size: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .datepicker .ui-datepicker table {
    margin: 6px 0 0;
    font-family: "hoves", sans-serif; }
  .datepicker .ui-datepicker th {
    padding: 12px 0;
    text-align: center;
    letter-spacing: 0.16em;
    font-size: 10px;
    font-weight: bold;
    color: #27272D;
    opacity: .3;
    text-transform: lowercase; }
  .datepicker .ui-state-default, .datepicker .ui-widget-content .ui-state-default, .datepicker .ui-widget-header .ui-state-default, .datepicker .ui-button, .datepicker html .ui-button.ui-state-disabled:hover, .datepicker html .ui-button.ui-state-disabled:active {
    border: none;
    text-align: center;
    vertical-align: middle;
    letter-spacing: 0.16em;
    font-size: 10px;
    font-weight: bold;
    font-family: "hoves", sans-serif;
    text-transform: uppercase;
    color: #000000;
    background: transparent;
    padding: 0;
    width: 21px;
    height: 17px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto; }
  .datepicker .ui-state-active, .datepicker .ui-widget-content .ui-state-active, .datepicker .ui-widget-header .ui-state-active, .datepicker a.ui-button:active, .datepicker .ui-button:active, .datepicker .ui-button.ui-state-active:hover {
    background: #254DF1;
    color: #fff; }
  .datepicker .ui-state-highlight, .datepicker .ui-widget-content .ui-state-highlight, .datepicker .ui-widget-header .ui-state-highlight {
    background: #254DF1;
    color: #fff; }
  .datepicker .ui-datepicker-week-end .ui-state-default {
    color: #E83223; }
  .datepicker .ui-datepicker-week-end span {
    color: #E83223; }
  .datepicker .ui-datepicker-year {
    display: none; }
  .datepicker .ui-datepicker-unselectable {
    opacity: 1;
    color: #000000;
    cursor: pointer !important;
    pointer-events: auto; }
    .datepicker .ui-datepicker-unselectable .ui-state-default {
      background: rgba(0, 61, 252, 0.1);
      opacity: 1;
      color: #000000;
      pointer-events: auto; }

.fixed-block {
  color: #2B2A52;
  width: 100%;
  max-width: 266px;
  z-index: 1;
  left: 0;
  bottom: 0;
  height: 100%;
  background: #E3E6EF;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .fixed-block__top {
    padding: 54px 40px 50px 50px; }
  .fixed-block__bottom {
    margin: auto 0 0;
    border-top: 1px solid #FDFDFD;
    padding: 40px 50px 70px; }
  .fixed-block .copyright {
    color: #2B2A52;
    opacity: .4;
    max-width: 140px; }
  .fixed-block .list-social {
    margin: 33px 0; }
  .fixed-block .form-search {
    display: none; }
  .fixed-block.fixed {
    position: fixed; }

.fixed-block-wrapper {
  width: 100%; }

.menu {
  font-size: 14px;
  font-weight: bold; }
  .menu li {
    margin: 0 0 35px; }
    .menu li a {
      color: #1C1E38; }
      .menu li a:hover {
        color: #254DF1; }

.home-panel {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  background: #23234e;
  color: #fff;
  height: 100%;
  width: 100%;
  max-width: 266px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .home-panel__top {
    width: 100%;
    padding: 150px 40px 20px 50px; }
  .home-panel__bottom {
    width: 100%;
    margin: auto 0 0;
    border-top: 1px solid rgba(253, 253, 253, 0.1);
    padding: 30px 50px; }
  .home-panel .menu {
    font-size: 14px;
    font-weight: bold; }
    .home-panel .menu li {
      margin: 0 0 30px; }
      .home-panel .menu li a {
        color: #fff; }
        .home-panel .menu li a:hover {
          color: #254DF1; }
  .home-panel .list-social li a {
    fill: #fff; }

.address-box {
  font-size: 12px;
  font-weight: bold;
  margin: 0 0 30px;
  line-height: 165.8%; }

/*==========  section end  ==========*/
/*==========  section projects page ==========*/
.content-wrapper {
  padding: 100px 0 0; }
  .content-wrapper .fixed-block-wrapper {
    padding: 100px 0 0; }
  .content-wrapper .fixed-block {
    position: fixed; }
  .content-wrapper .padding-my {
    padding: 0; }

.tabs {
  width: 100%; }
  .tabs__caption {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 0 44px; }
    .tabs__caption li {
      background: #F2F3F7;
      cursor: pointer;
      -webkit-transition: .3s ease;
      transition: .3s ease;
      text-align: center;
      padding: 11px 15px;
      color: #374249;
      font-size: 14px;
      border-right: 1px solid #FFFFFF; }
      .tabs__caption li:last-child {
        border: none; }
    .tabs__caption .active {
      background: #254DF1;
      color: #fff;
      border-color: #254DF1; }

.projects-section {
  padding: 44px 0; }

.tabs__content {
  width: 100%;
  display: none; }

.tabs__content.active {
  display: block; }

.project-box {
  width: 100%;
  margin: 0 0 50px; }
  .project-box__img {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .project-box__img img {
      height: 100%;
      width: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
  .project-box__body {
    padding: 25px 0 0; }
  .project-box__name {
    color: #131316;
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 15px; }
  .project-box .box-text {
    line-height: 19px;
    font-size: 13px;
    color: #333; }

/*==========  section projects page end  ==========*/
/*==========  section news page  ==========*/
.news-section {
  padding: 50px 0;
  position: relative; }
  .news-section .news-card {
    margin: 0 0 45px; }
  .news-section .btn-toggle-news {
    bottom: -50px; }

.btn-toggle-news {
  padding: 21px 62px;
  font-size: 11px;
  font-weight: 700;
  position: absolute;
  left: 0;
  bottom: 0; }

.tags-wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #254DF1;
  color: #fff;
  padding: 24px 26px; }
  .tags-wrapper .list-tags {
    font-size: 10px;
    line-height: 200%; }
    .tags-wrapper .list-tags li a {
      opacity: 1;
      color: #FFFFFF; }
  .tags-wrapper__top {
    width: 100%;
    margin: 0 0 auto; }
  .tags-wrapper h4 {
    margin: 0 0 2px;
    font-size: 15px;
    font-weight: bold; }
  .tags-wrapper__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 17px 0 0;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    width: 100%;
    margin: 15px 0 0; }
    .tags-wrapper__footer p {
      font-size: 12px;
      font-weight: 500; }
    .tags-wrapper__footer .btn-border {
      height: 34px;
      min-width: 118px;
      font-size: 11px;
      border: 1px solid #fff;
      color: #fff; }
      .tags-wrapper__footer .btn-border:hover {
        background: #fff;
        color: #254DF1;
        border: 1px solid #254DF1; }

.news-row {
  margin: 0 0 34px;
  padding: 0 0 35px;
  border-bottom: 0.93846px solid rgba(162, 166, 174, 0.5); }

.news-banner {
  width: 100%;
  height: 100%;
  position: relative; }
  .news-banner__img {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .news-banner__img img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
  .news-banner__body {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    padding: 20px 28px;
    max-width: 540px; }
  .news-banner .date {
    margin: 0 37px 0 0;
    color: #fff;
    opacity: .5; }
  .news-banner .list-tags li a {
    opacity: 1;
    color: #254DF1; }
    .news-banner .list-tags li a:hover {
      color: #fff; }
  .news-banner__top {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .news-banner .box-text {
    color: #fff;
    opacity: .5;
    font-size: 13px;
    line-height: 19px; }
  .news-banner .news-card__name {
    margin: 10px 0 15px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    max-width: none; }

/*==========  section news page end  ==========*/
/*==========  section analytics page ==========*/
.analytics-text {
  width: 100%;
  margin: 0 0 25px; }
  .analytics-text .box-text {
    max-width: 575px;
    font-size: 14px;
    line-height: 20px; }

.analytics-section {
  padding: 45px 0 165px; }
  .analytics-section .news-card__name {
    color: #131316; }
  .analytics-section .date {
    color: #131316;
    opacity: .5; }
  .analytics-section .home-slider {
    margin: 0 0 26px; }
    .analytics-section .home-slider .slick-next {
      right: -50px; }
    .analytics-section .home-slider .slick-prev {
      right: 0; }
  .analytics-section .btn-toggle-news {
    bottom: -165px; }
  .analytics-section .analytics-box .list-tags li a {
    opacity: 1;
    color: #254DF1; }

.list-tags-variable {
  margin: 0 0 10px;
  line-height: 20px; }
  .list-tags-variable li a {
    opacity: 1;
    color: #254DF1; }
    .list-tags-variable li a.active {
      color: #fa155a; }
  .list-tags-variable li .links-toggle {
    text-decoration: underline;
    color: #a2a6ae; }

.tags-selected {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 55px;
  letter-spacing: 0.05em;
  font-size: 10px;
  font-weight: 600;
  line-height: 12px;
  text-transform: uppercase; }
  .tags-selected li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 20px 0 0; }
    .tags-selected li:last-child {
      margin: 0; }

.delete-tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 10px;
  height: 10px;
  min-width: 10px;
  margin: 0 0 0 10px; }
  .delete-tag:before, .delete-tag:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 0;
    width: 1px;
    height: 100%;
    background: #C4C4C4; }
  .delete-tag:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .delete-tag:after {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }

/*==========  section end  ==========*/
/*==========  section contacts page ==========*/
.map-section {
  width: 100%;
  height: 481px; }
  .map-section iframe {
    width: 100%;
    height: 100%; }

.contacts-section {
  position: relative;
  overflow: hidden;
  padding: 70px 0 78px;
  z-index: 1; }
  .contacts-section:before {
    content: '';
    position: absolute;
    top: -203px;
    right: -201px;
    width: 1088px;
    height: 1056px;
    background: url("../img/contacts-bg.png") no-repeat center;
      background-size: 100%;
    z-index: -1; }
  .contacts-section .phone {
    color: #fff;
    font-size: 65px;
    font-weight: 500;
    margin: 0 0 36px; }

.contacts-item {
  width: 100%;
  margin: 0 0 43px;
  font-size: 16px; }
  .contacts-item:last-child {
    margin: 0; }
  .contacts-item a {
    color: #fff;
    font-weight: 600; }
  .contacts-item h4 {
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    opacity: .4;
    letter-spacing: 0.05em;
    margin: 0 0 5px;
    line-height: 220%; }
  .contacts-item span {
    max-width: 200px;
    display: inline-block; }

/*==========  section contacts page end  ==========*/
/*==========  section about ==========*/
.projects-activity {
  margin: 46px 0 0; }
  .projects-activity h2 {
    width: 100%;
    margin: 0 0 30px; }
  .projects-activity .project-box__img {
    height: auto; }
  .projects-activity .project-box__body {
    padding: 20px 0 0; }
  .projects-activity .project-box .box-text p {
    margin: 0 0 15px; }
    .projects-activity .project-box .box-text p:last-child {
      margin: 0; }
  .projects-activity .project-box__name {
    margin: 0 0 7px; }
  .projects-activity .row {
    position: relative;
    margin-bottom: 44px; }
    .projects-activity .row:before {
      content: '';
      position: absolute;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
              transform: translate(-50%, 0);
      bottom: 0;
      width: calc(100% - 50px);
      background: #E3E6EF;
      height: 1px; }
    .projects-activity .row:last-child {
      margin-bottom: 0; }
      .projects-activity .row:last-child:before {
        display: none; }

.quote-author {
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: -webkit-gradient(linear, right top, left top, color-stop(5.64%, #E3E6EF), color-stop(84.35%, #E3E6EF), to(rgba(227, 230, 239, 0.21)));
  background: linear-gradient(270deg, #E3E6EF 5.64%, #E3E6EF 84.35%, rgba(227, 230, 239, 0.21) 100%); }
  .quote-author .container {
    position: relative; }
  .quote-author:after {
    content: '';
    position: absolute;
    background: url("../img/quote-bg.png") no-repeat center;
      background-size: 100%;
    width: 559px;
    height: 518px;
    right: -100px;
    top: -48px;
    z-index: 1; }
  .quote-author__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 599px;
    width: 100%;
    position: absolute;
    left: -50px;
    top: 0;
    z-index: -1; }
  .quote-author:before {
    content: '';
    position: absolute;
    height: calc(100% + 100px);
    top: 50%;
    right: 0;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    background: -webkit-gradient(linear, right top, left top, color-stop(5.64%, #E3E6EF), color-stop(84.35%, #E3E6EF), to(rgba(227, 230, 239, 0.21)));
    background: linear-gradient(270deg, #E3E6EF 5.64%, #E3E6EF 84.35%, rgba(227, 230, 239, 0.21) 100%);
    width: calc(100% - 466px);
    -webkit-filter: blur(30px);
            filter: blur(30px);
    z-index: 0; }

.quote-text {
  max-width: 463px;
  margin: 78px 0 74px 400px; }
  .quote-text h3 {
    color: #131316;
    font-size: 14px;
    font-weight: bold; }
  .quote-text .box-text {
    line-height: 135%;
    font-size: 15px;
    margin: 0 0 8px; }

.description-company {
  background: rgba(227, 230, 239, 0.3);
  padding: 40px 0; }
  .description-company .box-text {
    line-height: 19px;
    font-size: 13px; }

.about-section {
  padding-bottom: 3px; }
  .about-section h3 {
    margin: 0 0 25px;
    font-size: 24px;
    font-weight: bold; }
  .about-section h4 {
    margin: 0 0 26px;
    width: 100%;
    font-size: 15px;
    font-weight: bold; }

.about-diagram {
  position: relative;
  max-width: 559px;
  width: 100%;
  margin: 0 auto; }
  .about-diagram__img {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
    position: relative; }

.about-diagram-item {
  position: absolute;
  font-size: 13px;
  font-weight: 600; }
  .about-diagram-item__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0 17px; }

.about-diagram-item1 {
  left: -108px;
  max-width: 108px;
  top: 30px; }

.about-diagram-item2 {
  right: -154px;
  max-width: 181px;
  top: 30px; }

.about-diagram-item3 {
  left: -74px;
  max-width: 120px;
  bottom: 70px; }

.about-diagram-item4 {
  right: -173px;
  max-width: 213px;
  bottom: 70px; }

.diagram-line {
  position: absolute; }

.diagram-line1 {
  top: 110px;
  left: 13px;
  max-width: 123px; }

.diagram-line2 {
  top: 82px;
  right: 57px;
  max-width: 146px; }

.diagram-line3 {
  bottom: 120px;
  left: 58px;
  max-width: 117px; }

.diagram-line4 {
  bottom: 137px;
  right: 57px;
  max-width: 123px; }

/*==========  section about end  ==========*/
/*==========  article page  ==========*/
.article-section {
  padding: 44px 0 36px; }

.other-news {
  padding: 38px 0 10px;
  background: rgba(227, 230, 239, 0.35); }

.article-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.news-sidebar {
  max-width: 300px;
  width: 100%; }
  .news-sidebar h3 {
    margin: 0 0 24px;
    font-size: 20px;
    color: #313548;
    font-weight: 600;
    line-height: 120%; }

.last-news {
  width: 100%;
  padding: 16px 0;
  border-bottom: 1px solid rgba(39, 39, 45, 0.2); }
  .last-news__name {
    margin: 15px 0 0;
    font-size: 15px;
    font-weight: 600;
    color: #131316; }
    .last-news__name:hover {
      color: #254DF1; }

.last-news-end {
  border: none; }

.tags-box {
  margin: 40px 0 0; }
  .tags-box h4 {
    margin: 0 0 8px;
    font-size: 15px;
    font-weight: bold; }
  .tags-box .list-tags-variable {
    margin: 0; }

.article-content {
  width: calc(100% - 300px);
  padding: 0 50px 0 0;
  color: #131316; }
  .article-content h3 {
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 17px; }
  .article-content .title-line {
    margin: 0 0 24px; }
  .article-content .list-tags li a {
    opacity: 1;
    color: #254DF1; }
  .article-content .box-text {
    font-size: 14px;
    line-height: 20px; }
    .article-content .box-text p {
      margin: 0 0 23px; }
      .article-content .box-text p:last-child {
        margin: 0; }
  .article-content h4 {
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 18px; }

.article-footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 50px 0 0; }

.schedule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .schedule p {
    margin: 0 0 0 10px;
    text-transform: uppercase;
    color: #131316;
    letter-spacing: 0.1em;
    font-size: 10px;
    line-height: 20px; }

.schedule-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .schedule-list li {
    margin: 0 -1px 0 0; }
    .schedule-list li:last-child {
      margin: 0; }
    .schedule-list li a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      height: 35px;
      width: 43px;
      border: 1px solid #EAEDF2; }
      .schedule-list li a:hover {
        background: #EAEDF2; }

.article-img {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 27px; }
  .article-img img {
    width: 100%; }

/*==========  article page end  ==========*/
/*==========  events page  ==========*/
.events-form {
  margin: 30px 0 0; }
  .events-form .btn {
    margin: 60px 0 0;
    height: 51px;
    width: 100%;
    font-size: 14px;
    font-weight: 600; }
  .events-form .btn-border {
    color: #254DF1; }

.events-list li {
  margin: 0 0 27px; }
  .events-list li:last-child {
    margin: 0; }

.events-list span {
  margin: 0 0 8px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 10px;
  font-weight: 600;
  color: #808080;
  line-height: 12px;
  display: block; }

.events-list p {
  font-size: 15px;
  color: #131316;
  font-weight: 600;
  line-height: 18px; }

.other-events {
  padding: 37px 0 68px; }
  .other-events .calendar-sidebar {
    max-width: 295px; }
  .other-events .events-wrapper {
    width: calc(100% - 295px); }
  .other-events .datepicker {
    max-width: none; }

.btn-calendar {
  max-width: 229px;
  width: 100%;
  font-size: 12px;
  font-weight: 600;
  background: transparent; }

/*==========  events page end  ==========*/
