/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1400px) {
  .home .container, header .container {
    padding: 0 50px; }
  .home-panel, .fixed-block {
    max-width: 200px; }
    .home-panel__top, .home-panel__bottom, .fixed-block__top, .fixed-block__bottom {
      padding-left: 20px; }
  h1 {
    margin: 0 0 0 20px; }
  .quote-author__img {
    left: -70px; } }

@media only screen and (max-width: 1300px) {
  .video-bg {
    max-width: 1442px;
    height: 1635px;
    right: 0;
    top: 0; }
  .wrapper, .container {
    max-width: 100%; }
  .home-panel, .fixed-block {
    display: none; }
  header .logo {
    margin: 0; }
  header .menu {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  h1 {
    font-size: 17px; }
  .quote-author:before {
    width: calc(100% - 266px); }
  .quote-author__img {
    left: 0; } }

@media only screen and (max-width: 1200px) {
  .d-none-tablet {
    display: none; }
  .d-flex-tablet {
    display: block; }
  h1 {
    margin: 0 0 20px;
    color: #212448;
    width: 100%; }
  .contacts-section h1 {
    color: #fff; }
  .quote-author:before {
    width: 78%; }
  .analytics-box .news-card__img {
    height: auto; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  header .menu li {
    margin: 0 10px 0 0; }
  .link-title {
    font-size: 20px;
    max-width: 500px;
    padding: 0 0 0 18px; }
    .link-title:before {
      width: 14px;
      height: 24px; }
  .category-tag {
    margin: 0 0 4px 18px; }
  .home-wrapper {
    padding: 0; }
  .home-slider {
    margin: 0 0 30px; }
  .home {
    padding: 130px 0 42px; }
  .links-messenger {
    max-width: none;
    margin: 43px 0 0; }
  header .menu {
    font-size: 12px; }
  .tags-wrapper__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .tags-wrapper__footer .btn {
      margin: 10px auto 0; }
  .col-7 {
    width: 100%; }
  .news-row .col-3 {
    width: 100%; }
  .news-banner {
    margin: 0 0 30px;
    height: auto; }
  .analytics-text .box-text {
    max-width: none;
    width: 100%;
    margin: 0 0 10px; }
  .analytics-text .col-3 {
    width: 100%; }
  .tags-selected {
    margin: 0 0 30px; }
  .quote-text {
    margin: 50px 20px 50px auto; }
  .about-diagram {
    max-width: 450px; }
  .diagram-line1 {
    top: 95px; }
  .diagram-line2 {
    top: 64px; }
  .diagram-line3 {
    bottom: 90px; }
  .diagram-line4 {
    bottom: 110px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .events-wrapper {
    padding: 0;
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .calendar-sidebar {
    max-width: none;
    margin: 0 0 30px; }
  .datepicker {
    margin: 0 0 20px;
    max-width: 324px; }
  .datepicker .ui-state-default, .datepicker .ui-widget-content .ui-state-default, .datepicker .ui-widget-header .ui-state-default, .datepicker .ui-button, .datepicker html .ui-button.ui-state-disabled:hover, .datepicker html .ui-button.ui-state-disabled:active {
    line-height: 15px;
    font-size: 13px;
    width: 30px;
    height: 24px; }
  .datepicker .ui-datepicker .ui-datepicker-header {
    padding: 0 20px; }
  .datepicker .ui-datepicker .ui-datepicker-prev, .datepicker .ui-datepicker .ui-datepicker-next {
    width: 9px;
    height: 17px; }
  .datepicker .ui-datepicker th {
    font-size: 13px;
    padding: 14px 0; }
  .tags-links {
    padding: 10px 30px;
    font-size: 12px;
    line-height: 14px; }
  .events {
    padding: 23px 0 40px; }
    .events h2 {
      margin: 0 0 33px; }
  .container {
    padding: 0 24px; }
  .row {
    margin: 0 -12px; }
  .col-3, .col-5, .col-7 {
    padding: 0 12px; }
  footer {
    padding: 42px 0 50px; }
  .footer-box {
    margin: 0 0 0 100px; }
  .banner-section {
    margin: 0; }
    .banner-section .home-slider {
      width: 100%;
      margin: 0; }
    .banner-section .slick-next {
      right: 0; }
    .banner-section .slick-prev {
      right: 38px; }
    .banner-section .container {
      padding: 0; }
  .slick-arrow {
    width: 38px;
    height: 38px;
    padding: 10px; }
  .slick-prev {
    right: 38px; }
  .analytics {
    padding: 24px 0 43px; }
  .home {
    padding: 0 0 42px; }
  header {
    background: #212448;
    position: relative;
    left: 0;
    top: 0;
    padding: 15px 0;
    z-index: 4; }
    header .logo {
      max-width: 94px; }
    header .menu {
      display: none; }
  .header-nav .btn {
    width: 39px;
    height: 39px;
    min-width: 39px;
    font-size: 11px; }
  .header-nav .search-wrapper {
    display: none; }
  .btn-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .home .container, header .container {
    padding: 0 24px; }
  .home-slider {
    width: calc(100% + 50px);
    margin: 0 -25px 30px; }
  .links-messenger {
    text-align: left; }
  .fixed-block {
    z-index: 3;
    width: 100%;
    max-width: none;
    overflow-y: auto;
    padding: 69px 0 0;
    position: fixed; }
    .fixed-block .form-search {
      position: relative;
      top: 0;
      right: 0;
      margin: 0 0 55px;
      max-width: none;
      width: 100%; }
      .fixed-block .form-search .btn-search {
        height: 41px;
        width: 41px;
        background: #212448;
        border: 0.73207px solid rgba(33, 36, 72, 0.5); }
      .fixed-block .form-search label {
        width: 100%;
        display: block; }
      .fixed-block .form-search input {
        height: 41px; }
    .fixed-block__top {
      padding: 24px; }
    .fixed-block__bottom {
      padding: 37px 24px 27px; }
    .fixed-block .menu li {
      margin: 0 0 25px; }
  .content-wrapper {
    padding: 0; }
  .analytics-section .home-slider {
    width: 100%; }
    .analytics-section .home-slider .slick-next {
      right: 0; }
    .analytics-section .home-slider .slick-prev {
      right: auto;
      left: 0; }
  .contacts-section .phone {
    font-size: 50px; }
  .contacts-section:before {
    width: 700px;
    height: 700px;
    top: -100px;
    right: -220px; }
  .quote-author__img {
    max-width: 500px; }
  .quote-text {
    margin: 30px 0 30px auto;
    max-width: 400px; }
  .about-section {
    padding-bottom: 50px; }
    .about-section h3 {
      font-size: 20px; }
  .description-company {
    padding: 38px 0 25px; }
    .description-company .box-text {
      margin: 0 0 25px; }
  .about-diagram {
    max-width: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .about-diagram__img {
      max-width: 590px;
      margin: -60px auto -80px; }
  .about-diagram-item {
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0; }
  .diagram-line1 {
    top: 80px;
    left: 80px; }
  .diagram-line2 {
    right: 80px;
    top: 80px; }
  .diagram-line3 {
    left: 60px;
    bottom: 100px; }
  .diagram-line4 {
    right: 90px;
    bottom: 130px; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 680px) {
  .quote-author__img {
    max-width: none; }
  .quote-author:after {
    right: -240px;
    top: 67px; }
  .quote-author:before {
    width: calc(100% + 300px);
    bottom: 0;
    top: auto;
    right: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    max-width: none;
    height: calc(100% - 190px);
    background: -webkit-gradient(linear, right top, left top, color-stop(5.64%, #E3E6EF), color-stop(84.35%, #E3E6EF), to(rgba(227, 230, 239, 0.21)));
    background: linear-gradient(270deg, #E3E6EF 5.64%, #E3E6EF 84.35%, rgba(227, 230, 239, 0.21) 100%); }
  .quote-text {
    margin: 323px auto 30px;
    max-width: none; } }

@media only screen and (max-width: 576px) {
  .footer-box {
    margin: 45px 0 33px;
    width: 100%;
    max-width: none; }
    .footer-box .phone {
      margin: 8px 0 0; }
  .copyright {
    margin: 0; }
  .footer-menu:first-child {
    margin: 0 77px 0 0; }
  .events-card {
    margin: 0 0 35px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .events-card__img {
      width: 100%;
      height: auto; }
    .events-card__body {
      border: none;
      padding: 18px 0 0;
      width: 100%; }
    .events-card__name {
      margin: 8px 0 6px;
      font-size: 15px;
      line-height: 120%; }
  .col-3, .col-5, .col-7 {
    width: 100%;
    padding: 0; }
  .row {
    margin: 0; }
  .title-line {
    margin: 0 0 18px; }
  .advantages-box {
    width: 158px; }
  .advantages-slider .slick-slide {
    padding: 0 6px; }
  .advantages {
    padding: 29px 0 21px; }
  .d-none-mobile {
    display: none; }
  .d-flex-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .news-card__img {
    height: 164px; }
  .analytics-box .news-card__img {
    height: 156px; }
  .right-sidebar {
    width: 100%;
    height: 574px;
    top: 54px; }
  .video-bg {
    max-width: none;
    height: 100%; }
  .home-slider-item {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: relative; }
    .home-slider-item img {
      display: none; }
    .home-slider-item .slide-mob {
      display: block;
      width: 100%; }
  h1 {
    letter-spacing: 0.07em;
    font-size: 15px;
    opacity: .5; }
  .news-banner__img {
    height: 350px; }
  .news-banner .news-card__name {
    font-size: 16px; }
  .news-banner__body {
    padding: 20px; }
  .analytics-section .news-card__name {
    max-width: none; }
  .contacts-section .phone {
    font-size: 30px;
    margin: 0 0 30px; }
  .contacts-item {
    margin: 0 0 30px; }
  .projects-activity {
    margin: 23px 0 0; }
    .projects-activity .row {
      margin-bottom: 0; }
      .projects-activity .row:before {
        display: none; }
      .projects-activity .row:last-child .col-3:last-child .project-box {
        padding: 0; }
        .projects-activity .row:last-child .col-3:last-child .project-box:before {
          display: none; }
    .projects-activity .project-box {
      margin: 0 0 27px;
      padding: 0 0 22px;
      position: relative; }
      .projects-activity .project-box:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
                transform: translate(-50%, 0);
        width: calc(100% + 70px);
        height: 1px;
        background: #E3E6EF; }
      .projects-activity .project-box__body {
        padding: 12px 0 0; }
      .projects-activity .project-box__img {
        height: auto; }
      .projects-activity .project-box__name {
        font-size: 15px; }
  .quote-author__img {
    width: 599px; }
  .about-diagram__img {
    max-width: 450px;
    margin: -30px auto; }
  .diagram-line1 {
    left: 30px;
    top: 50px; }
  .diagram-line2 {
    right: 40px; }
  .diagram-line3 {
    bottom: 60px;
    left: 30px; }
  .diagram-line4 {
    right: 60px;
    bottom: 70px; }
  .right-sidebar {
    display: none; }
  .home {
    background: url("../img/bg1-mobile.png") no-repeat center;
      background-size: cover; }
  .link-title {
    padding: 0; }
    .link-title:before {
      left: -18px; }
  .category-tag {
    margin-left: 0; }
  .news-card {
    margin: 0 0 44px; }
    .news-card__name {
      margin: 10px 0; }
  .analytics .btn-toggle {
    margin: -18px 0 0; }
  .btn-toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .news {
    margin: 0 0 42px; }
    .news .btn-toggle {
      margin: -20px 0 0; }
  .datepicker .ui-datepicker .ui-datepicker-header {
    padding: 0 15px; }
  .analytics-box .news-card__img {
    height: auto; } }

@media only screen and (max-width: 480px) {
  .about-diagram__img {
    width: 400px;
    min-width: 400px;
    margin: 0 auto -10px; }
  .diagram-line img {
    display: none; }
  .diagram-line1 {
    width: 45px;
    height: 88px;
    top: 7px;
    left: 82px;
    background: url("../img/line1-mob.svg") no-repeat center;
      background-size: 100%; }
  .diagram-line2 {
    background: url("../img/line2-mob.svg") no-repeat center;
      background-size: 100%;
    top: 10px;
    right: 111px;
    width: 46px;
    height: 81px; }
  .diagram-line3 {
    background: url("../img/line3-mob.svg") no-repeat center;
      background-size: 100%;
    bottom: 12px;
    left: 97px;
    width: 42px;
    height: 97px; }
  .diagram-line4 {
    background: url("../img/line4-mob.svg") no-repeat center;
      background-size: 100%;
    bottom: 13px;
    right: 118px;
    width: 49px;
    height: 119px; }
  .analytics-box .list-tags {
    margin: 10px 0 0; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 420px) {
  .about-diagram-item {
    font-size: 11px; }
  .about-diagram-item1 {
    max-width: 108px; }
  .about-diagram-item2 {
    max-width: 162px; }
  .about-diagram-item3 {
    max-width: 109px; }
  .about-diagram-item4 {
    max-width: 163px; }
  .about-diagram__img {
    margin: 0 -30px -30px; }
  .banner-section .home-slider-item {
    height: 131px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .banner-section .home-slider-item img {
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; } }

@media only screen and (max-width: 360px) {
  .about-diagram__img {
    margin: 0 -50px -30px; } }
